  <div class="navbar comic-navbar">
      <a class="nav-item nav-link" href="/comic_pages/{{site.comic_pages.first.number}}.html" title="First">
        <img src="/comic_files/arrows2l.png"></img>
      </a>
      <a class="nav-item nav-link" href="/comic_pages/{{prev_index}}.html" title="Previous">
        <img src="/comic_files/arrows1l.png"> </img>
        </a>
      <a class="nav-item nav-link" href="/comic_pages/{{next_index}}.html" title="Next">
        <img src="/comic_files/arrows1r.png"></img>
      </a>
      <a class="nav-item nav-link" href="/comic_pages/{{site.comic_pages.last.number}}.html" title="Last">
        <img src="/comic_files/arrows2r.png"></img>
      </a>
  </div>
