<div class="header">
    <h1>Michalina Pacholska <small> {{ page.title }} </small></h1>
</div>
<div class="navbar main-navbar">
    <a class="nav-item nav-link" href="/index.html">Home</a>
    <a class="nav-item nav-link" href="/digital.html">Digital Drawings</a>
    <a class="nav-item nav-link" href="/vector.html">Vector Graphics</a>
    <a class="nav-item nav-link" href="/sketches.html">Sketches</a>
    <a class="nav-item nav-link" href="/comic_pages/{{site.comic_pages.last.number}}.html">Comic</a>
</div>
