  <div class="navbar">
      {% if page == collection.first %}
      <a class="nav-item nav-link" title="First">
        <img src="/comic_files/arrows2l-gray.png"></img>
      </a>
      <a class="nav-item nav-link" title="Previous">
        <img src="/comic_files/arrows1l-gray.png"> </img>
      </a>
      {% else %}
      <a class="nav-item nav-link" href={{collection.first.url}} title="First">
        <img src="/comic_files/arrows2l.png"></img>
      </a>
      <a class="nav-item nav-link" href="{{page.previous.url}}" title="Previous">
        <img src="/comic_files/arrows1l.png"> </img>
      </a>
      {% endif %}
      {% if page == collection.last %}
      <a class="nav-item nav-link" title="Next">
        <img src="/comic_files/arrows1r-gray.png"></img>
      </a>
      <a class="nav-item nav-link" title="Last">
        <img src="/comic_files/arrows2r-gray.png"></img>
      </a>
      {% else %}
      <a class="nav-item nav-link" href="{{page.next.url}}" title="Next">
        <img src="/comic_files/arrows1r.png"></img>
      </a>
      <a class="nav-item nav-link" href="{{collection.last.url}}" title="Last">
        <img src="/comic_files/arrows2r.png"></img>
      </a>
      {% endif %}
  </div>
