---
layout: default
preview_image: original/pies-naklejka.png
---
{% assign collection = site.blogposts %}

{% include /main_navbar.html %}
<div class="singlepage">
  <h1>
  {{page.title}}
  </h1>
  {{content}}
    {% include previous_next_navbar.html %}
  <hr>
  <div id="disqus_thread"></div>
  <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://thebackup.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
