---
layout: default

custom-css-list:
    - "/comic_styles.css"
---

{% assign collection = site.comic_pages %}

{% include /comic_navbar.html %}
<div class="singlepage">
  {% include /previous_next_navbar.html %}
  <img src="/comic_files/{{page.number | minus: 100 }}.webp">
  {% include /previous_next_navbar.html %}
  <div class="caption">
    <h3> Page {{ page.number | minus: 100 }}: {{ page.caption }} </h3>
  </div>
  <hr>
  <div id="disqus_thread"></div>
  <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://thebackup.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
