---
title: Future Comic
layout: comic
url: comic.html
preview_image: original/pies-naklejka.png
---

{% assign prev_index = page.number | minus: 1 %}
{% assign next_index = page.number | plus: 1 %}

{% if page.number == site.comic_pages.first.number %}
{% assign prev_index = site.comic_pages.first.number %}
{% endif %}

{% if page.number == site.comic_pages.last.number %}
{% assign next_index = site.comic_pages.last.number %}
{% endif %}



<div class="singlepage">
  {% include comic_navbar.html %}
  <img src="/comic_files/{{page.number}}.webp">
  {% include comic_navbar.html %}
  <div class="caption">
    <h3> Page {{ page.number }}: {{ page.caption }} </h3>
  </div>
  <hr>
  <div id="disqus_thread"></div>
  <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://thebackup.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
