<!DOCTYPE html>
<html>
<head>
    <!--Stuff for not caching - to be removed -->
     <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <!-- Magnific Popup core JS file -->
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <script>
    $(document).ready(function() {
    $('.content img').each(function() {
      var currentImage = $(this);
      currentImage.wrap("<a class='image-link' href='" + currentImage.attr("src").replace("images/", "original/").replace(".jpg", ".png") + "'</a>");
    });
    $('.image-link').magnificPopup({type:'image', closeBtnInside:false, gallery:{
    enabled:true
  }});  
    });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/pies-naklejka.png">
    <link rel="stylesheet" href="styles.css">
    <title>Michalina Pacholska Homepage</title>
</head>
<body>  
    <div class="content">
    <div class="header">
        <h1>Michalina Pacholska</h1>
    </div>
    <div class="navbar main-navbar">
        <a class="nav-item nav-link" href="index.html">Home</a>
        <a class="nav-item nav-link" href="digital.html">Digital Drawings</a>
        <a class="nav-item nav-link" href="vector.html">Vector Graphics</a>
        <a class="nav-item nav-link" href="sketches.html">Sketches</a>
    </div>
    {{content}}
    </div>
    <div class="navbar navbar-static-bottom"> 
        <div class="footer-text">
            <p>&copy; 2019 Copyright: Michalina Pacholska</p>
            This work is licensed under a <p rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</p>
            <p rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></p>
        </div>
    </div>
</body>
</html>
