<!DOCTYPE html>
<html>
<head> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
<!--     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142183940-1"></script> -->
    <!--Stuff for not caching - to be removed -->
     <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <!-- Magnific Popup core JS file -->
    <script src="magnific-popup/jquery.magnific-popup.min.js"></script>
    <script>
    $(document).ready(function() {
    $('.content img').each(function() {
      var currentImage = $(this);
      currentImage.wrap("<a class='image-link' href='" + currentImage.attr("src").replace("images/", "original/").replace(".jpg", ".png") + "'</a>");
    });
    $('.image-link').magnificPopup({type:'image', closeBtnInside:false, gallery:{
    enabled:true
  }});  
    });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles.css">
    <title>Michalina Pacholska Homepage</title>
    <meta property="og:title" content="Michalina Pacholska {{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://micha7a.github.io/{{url}}" />
    <meta property="og:image" content="http://micha7a.github.io/{{preview_image}}"/>
<body>  
    <div class="content">
    <div class="header">
        <h1>Michalina Pacholska <small> {{ page.title }} </small></h1>
    </div>
    <div class="navbar main-navbar">
        <a class="nav-item nav-link" href="index.html">Home</a>
        <a class="nav-item nav-link" href="digital.html">Digital Drawings</a>
        <a class="nav-item nav-link" href="vector.html">Vector Graphics</a>
        <a class="nav-item nav-link" href="sketches.html">Sketches</a>
    </div>
    {{content}}
    </div>
    <div class="navbar navbar-static-bottom"> 
        <div class="footer-text">
            <p>Allow cookies <input type="checkbox" id="cookie" checked=""></p>
            <p>&copy; 2019 Copyright: Michalina Pacholska</p>
            This work is licensed under a <p rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</p>
            <p rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></p>
        </div>
    </div>
    <script>
        var gaProperty = 'UA-142183940-1';
        var disableStr = 'ga-disable-' + gaProperty;
        const cookie = document.getElementById("cookie");
        cookie.addEventListener('change', (event) => {
        if(event.target.checked) {
            console.log("Turn cookies on");
            window[disableStr] = false;
            document.cookie = disableStr + '= ; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/';
        } else {
            console.log("Turn cookies off");
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
        }
        });
        if (document.cookie.indexOf(disableStr + '=true') > -1) {
        const cookie = document.getElementById("cookie");
        cookie.checked = false;
        window[disableStr] = true;
        }
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', gaProperty, 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
