---
title: Home
layout: default
preview_image: original/pies-naklejka.png
---

{% include /main_navbar.html %}

<div class="row">
    <div class="col-sm-4 text-column">
        <h2>About me</h2>
        <p>I'm a mathematician that draws ;)</p>
        
        <p>I've <a href="https://actu.epfl.ch/news/congratulations-to-michalina-pacholska-2/">recently graduated</a> from <a href=https://www.epfl.ch/> EPFL</a>.</p>
        
        <p>If you are looking for my work, you can check my google scholar
        <a href=https://scholar.google.com/citations?user=2s9gMX8AAAAJ/>
        my google scholar profile</a>. </p>
    </div>
    <div class="col-sm-8 text-column">
       {% for blogpost in site.blogposts reversed %}
            {% assign words = blogpost.content | number_of_words %}
            <h2> {{ blogpost.date | date: '%B %-d, %Y' }}: {{ blogpost.title }} </h2>
            {{blogpost.excerpt }}
            {% if blogpost.content.size > blogpost.excerpt.size %}
                <a href="{{blogpost.url}}" > Read more...
                ({% if words < 360 %}
                    less than 1 min
                    {% else %}
                    {{ words | divided_by:180 }} mins
                {% endif %})  </a>
            {% endif %}
        {% endfor %}
        {{content}}
    </div>
</div>
