---
title: Home
layout: default
url: home.html
preview_image: original/pies-naklejka.png
---

<div class="row">
    <div class="col-sm-4 text-column">
        <h2>About me</h2>
        <p>I'm a mathematician that draws ;)</p>
        
        <p>I've <a href="https://actu.epfl.ch/news/congratulations-to-michalina-pacholska-2/">recently graduated</a> from <a href=https://www.epfl.ch/> EPFL</a>.</p>
        
        <p>If you are looking for my work, you can check my google scholar
        <a href=https://scholar.google.com/citations?user=2s9gMX8AAAAJ/>
        my google scholar profile</a>. </p>
    </div>
    <div class="col-sm-8 text-column">
        {{content}}
    </div>
</div>
